{
  admin 0.0.0.0:2019 {
    origins localhost:2019 caddy:2019 ""
  }
}

:80 {
  handle /api/* {
    uri strip_prefix /api
    reverse_proxy 127.0.0.1:3001
  }

  handle {
    reverse_proxy 10.88.0.99:5173
  }
}
