[Unit]
Description=Nomad
After=network.target

[Service]
ExecStart=/usr/bin/nomad agent -config=/home/oluwadarasimi/documents/hangar/nomad/config/nomad.hcl
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target