[Unit]
Description=Vault Auto-Unseal
After=vault.service
Requires=vault.service

[Service]
Type=oneshot
ExecStart={{ hangar_dir }}/vault/scripts/unseal.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target